<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>@Stake v3</title>
        <meta name="description" content="A suite of digital multiplayer games that teaches students how to critique and create civic media.">
        <meta name="author" content="Engagement Lab">
        
        {{#ifeq section 'play'}}
            {{!-- Mobile Meta --}}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="theme-color" content="#FFAB43">
        {{/ifeq}}

        {{!-- Open Graph --}}
        {{!-- <meta property="og:image" content="http://res.cloudinary.com/engagement-lab-home/image/upload/v1455896685/site/about/logo_color.png" /> --}}

        {{!-- Load web SDK's core script/docs --}}
        {{> core environment=env}}

        {{!-- Load our CSS/docs --}}
        {{> css environment=env section=section}}
    </head>
    
    <body class="body {{gameType}}">
        {{#ifeq section "comingsoon"}}
            {{> nav_comingsoon}}
            <div class="col-sm-12">
        {{else}}
        
            {{#ifeq section "index"}}
                {{> nav}}
                <div class="container">
            {{/ifeq}}
            
        {{/ifeq}}

        <div id="wrapper">

            <div id="overlay" class="modal">
            </div>

            {{#ifeq debug true}}
              {{#ifeq viewType 'decider'}}
                <div id="error-box">
                </div>
                
                {{!-- DEBUGGING --}}
                <div id="debugging" class="form" style="position: fixed;top: 0;">
                    
                    <div id="debug-info">
                    </div>

                      <br /><button id="countdowns_pause" data-resume="false" class="submit">pause countdowns</button>
                      <br /><button id="goto_results" data-event="game:force_results" class="submit"{{!--  style="display:none" --}}>show results</button>

                    <div id="slider-gsap">
                    </div>

                    <select id="template_selector" name="template_selector_player">
                      <option value="">choose:</option>

                            {{#each gameScreens}}
                              <option value="{{this}}">{{this}}</option>
                            {{/each}}
                    </select>
                </div>
              {{else}}
                <div id="debugging" class="form" style="position: fixed;top: 0;">
                  <button id="generate_players">generate players</button>
                </div>
              {{/ifeq}}
            {{/ifeq}}

                  <div class="container-fluid" id="gameContent">

                  <section id="logo-bar" style="display:none">
                    <img src="http://res.cloudinary.com/engagement-lab-home/image/upload/e_grayscale/v1454520474/site/listings/odr1jt3rfkda0s1qce9q.png">
                </section>

                    <!-- BODY CONTENT START -->
                    {{{body}}}

                  </div>

                <section id="bottom-bar">
                    <div id="player-coins">[coins] <span></span></div>
                    <div id="pot-coins">[pot] <span></span></div>
                </section>

                {{#ifeq debug true}}
                    {{#ifnoteq viewType 'decider'}}
                      <div id="emulate-players" style="display:none">
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                        <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                      </div>
                  {{/ifnoteq}}
                {{/ifeq}}
            </div><!-- /.container -->

            <!-- page-wrapper end -->
            {{#ifeq env "development"}}
                {{> script/development host=socketHost environment=env section=section subSection=sub_section}}
            {{else}}
                {{> script/production host=socketHost environment=env section=section}}
            {{/ifeq}}

        </div>

    </body>
</html>
