<section class="col-lg-6 col-sm-6">
  <div class="row room-container">
		
    <div id="pitch">
  		
      {{#if isActive}}
  			Bt
  		{{else}}
  			listen
  		{{/if}}

    	<h3>{{name}} the {{title}}</h3>

    	{{{bio.html}}}

    	<h4>Agenda</h4>

    	<ul>
        {{#each agendaItems}}
          <li>{{this}}</li>
        {{/each}}
    	</ul>

      Time left: <span id="countdown"></span>
      
    </div>

    {{!-- MORE TIME SCREEN SHOWS AT END OF COUNTDOWN --}}
    {{#if isActive}}
      
      <div class="form row" id="more-time" style="display:none">
        <h3>Need more time? Pay {{config.extraTimeCost}} coins for {{config.extraSeconds}} more seconds.</h3>
        <button id="btn-more-time" data-event="game:more_time" data-disable="false" data-package="{{../playerUid}}" class="post-button submit" type="submit" name="submit">more time</button>
        <button id="btn-cancel" data-event="game:turn_done" class="post-button submit" type="submit" name="submit">no thanks</button>
      </div>

    {{/if}}

	</div>
</section>