<section class="col-lg-6 col-sm-6">
  <div class="row room-container">

		Did the winning plan include this agenda item?

	</div>
	<div class="form row" id="agenda-items">
		{{#each players}}

			{{!-- {{@first}} --}}
			
			{{!-- ALL AGENDA ITEMS --}}
			{{#each role.agendaItems}}
			{{!-- = {{@../first}} {{@first}} --}}
				<div class="role"{{#if @../first}}{{#if @first}} style="display:block"{{/if}}{{/if}}>
					<h3>{{this}}</h3>

			    <button class="post-button submit" data-event="game:agenda_yes" data-package='{{../uid}}' data-keep_enabled="true" data-autohide="true" type="submit" name="submit">yes</button>
			    <button class="post-button submit" data-event="game:agenda_no" data-package='{{../uid}}' data-keep_enabled="true" data-autohide="true" type="submit" name="submit">no</button>
		    </div>
			{{/each}}

		{{/each}}
		{{!-- <input data-event="game:proposal_selected" /> --}}
	</div>
</section>