{{#each this}}

  <section id="scroll">

    <div class="deck" data-id="{{_id}}">

      <div class="deck-header">
        <h2><span>{{name}}</span> <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1540488090/at-stake/icons/magnify.svg" alt="Magnifying glass icon"/></h2>
      </div>

      <div class="description subtitle">
        {{description}}
      </div>

    </div>

  </section>

{{/each}}

{{#each this}}

  <div class="deck-modal {{_id}} modal" data-id="{{_id}}">
      
    <h2>{{name}}</h2>

    <div class="description">
      {{description}}
    </div>

    <div class="question">
      {{questions.[0]}}
    </div>

    <div class="stakeholders">
      {{#limit roles 4}}
        <div class="deck-role col-xs-6"><p>{{title}}</p></div>
      {{/limit}}
    </div>


    <button class="btn_submit button_text game_login"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1540488090/at-stake/icons/check-btn.svg" alt="Select this deck"></button>

  </div>

  {{/each}}