<span class="light white subtitle">Swipe left and right to switch decks</span>
<div class="glide__bullets"></div>

{{!-- <div class="glide__arrows">
  <button class="glide__arrow prev" data-glide-dir="<">prev</button>
  <button class="glide__arrow next" data-glide-dir=">">next</button>
</div> --}}

<div class="glide__wrapper">
  <div class="glide__track">
    
    {{#each this}}

      <div class="glide__slide" style="{{!-- width: 80%; --}}">

        <div class="deck">

          <div class="deck-header">
            <h2 class="header white">{{name}}</h2>

            <div class="description white subtitle">
              {{description}}
            </div>
          </div>

          <h3 class="white flag">Talking Points</h3>
          {{!-- <ul> --}}
            {{#each questions}}
            <div class="question"><div class="num">{{@index}}</div><div>{{this}}</div></div>
            {{/each}}
          {{!-- </ul> --}}

          <h3 class="white flag sub-header">Sample Stakeholders</h3>
          <div class="stakeholders">
            {{#each roles}}
              <span class="deck-role">{{title}}</span>

              {{#ifeq @index 2}}</div><div class="stakeholders">{{/ifeq}}              
            {{/each}}
          </div>

        </div>
      </div>

    {{/each}}

  </div>
</div>