{{#each this}}

  <section id="scroll">

    <div class="deck" data-id="{{_id}}">

      <div class="deck-header">
        <h2 class="medium-font white">{{name}}</h2>

        <div class="description white subtitle">
          {{description}}
        </div>
      </div>

    </div>

  </section>

{{/each}}

{{#each this}}

  <div class="deck-modal {{_id}} modal" data-id="{{_id}}">
      
    <h2>{{name}}</h2>

    <div class="description">
      {{description}}
    </div>

    <div class="question">
      {{questions.[0]}}
    </div>

    <div class="stakeholders">
      {{#limit roles 4}}
        <div class="deck-role col-xs-6"><p>{{title}}</p></div>
      {{/limit}}
    </div>


    <button class="btn_submit button_text game_login">select</button>

  </div>

  {{/each}}