{{!-- BRAINSTORM PHASE UI --}}
<div id="brainstorm">

	<div class="screen initial">
		
		<section class="instruction decider">
			<h1>read the text in the blue box outloud</h1>
			<div>Once you have finished speaking the instructions to other players, press next to continue.</div>
		</section>

		<section class="instruction player">
			<h1>Read the revealed round question</h1>
			<div>From your character's perspective, you will brainstorm a solution to the question below.</div>
		</section>

		<blockquote class="speech decider form">
      <p>"Here is the question you’ll answer this round."</p>
			<div>{{question}}</div>
			<button class="next-step submit">next</button>
    </blockquote>
		<blockquote class="speech player">
      <p>"Here is the question you’ll answer this round."</p>
			<div>{{question}}</div>
		</blockquote>

	</div>

	{{!-- GET READY --}}
	<div class="screen">
		
		<section class="instruction decider">
			<h1>read the text in the blue box outloud</h1>
			<div>Once you have finished speaking the instructions to other players, press next to continue</div>
		</section>
		<section class="instruction player">
			<h1>Get Ready to Brainstorm a solution</h1>
			<div>Round question: {{question}}</div>
		</section>

		<div class="speech decider form">
			<p>"Once I start the timer, You will have 60 seconds to brainstorm a solution to this question. Get Ready!"</p>
			<button class="next-step submit">next</button>
		</div>
		<div class="speech player">
			<p>"Once I start the timer, You will have 60 seconds to brainstorm a solution to this question. Get Ready!"</p>
			<div>{{question}}</div>
		</div>

	</div>

	{{!-- TIMER START --}}
	<div class="screen">
		
		<section class="instruction decider">
			<h1>Press the button to start the timer</h1>
			<div>Make sure everyone is ready and understands the instructions, then press the button to start the timer.</div>
		</section>
		<section class="instruction player">
			<h1>Get Ready to Brainstorm a solution</h1>
			<div>Remember you can open your rolecard anytime. Try to include your agenda items in your solution!</div>
		</section>

		<div class="speech decider">
			<div>{{question}}</div>
			{{> component/timer}}
   		<span id="modifier" class="hidden-el" data-timer="button"></span>
		</div>
		<div class="speech player">
			<div>{{question}}</div>
		</div>

	</div>

	{{!-- COUNTDOWN --}}
	<div class="screen no-transition">
		
		<section class="instruction decider">
			<h1>Wait For timer to reach zero</h1>
			<div>When the timer reaches zero shout "pencils down!"</div>
		</section>
		<section class="instruction player">
			<h1>think of a solution to the question</h1>
			<div>Try to keep your idea concise, clear, and from your character's perspective! Be ready to pitch!</div>
		</section>

		<div class="speech decider">
			<div>{{question}}</div>
		</div>
		<div class="speech player">
			<div>{{question}}</div>
		</div>

	</div>

</div>