{{!-- DECIDE PHASE UI --}}
<div id="decide">

	{{!-- INITIAL --}}
	<div class="screen initial">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box outloud"
				body="Once you have finished speaking the instructions to other players, press next to continue"
		}}

		{{> component/instructions 
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="Now that we have heard everyone's proposals, its time for me to decide a winner!"
		}}

		{{> component/speech 
				body="Now that we have heard everyone's proposals, its time for me to decide a winner!"
		}}

	</div>

	{{!-- PITCH SELECTION AND WINNER DISPLAY --}}
	{{!-- this is where phase re-loads with the data of the winning player --}}
	<div class="screen restart">

		{{#if winner}}

			{{!-- winner modal --}}
			<div class="modal inner-modal winner" data-duration="{{config.decideDuration}}" data-next="next_screen">
				<div class="inner">

					<h1>Congratulations, <strong>{{winner.username}}</strong>!</h1>
					<h2>{{pluralize winner.username}} proposal was selected as the winner and recieves all the coins in the pot!</h2>

			    <div id="reward-icon" class="player-box">
				    <div class="coins">{{potAmount}}</div>
					  <div class="info">
						  <h1>{{winner.username}}</h1>
					    <h2>{{winner.role.title}}</h2>
				    </div>
				  </div>

				</div>
			</div>

			<span id="modifier" class="hidden-el" data-inner_modal="true"></span>

		{{else}}
		
			{{!-- choice box for choosing pitch --}}
			{{> component/choice 
					pitches=true
					decider=true
			}}

			{{!-- notification for non-deciders --}}
			{{> component/choice 
					pitches=true
			}}

		{{/if}}

	</div>

	{{!-- AGENDA ITEMS INTRO --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box outloud"
				body="Once you have finished speaking the instructions to other players, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the decider"
		}}

		{{> component/speech 
				decider=true
				body="Now that we have a winning proposal, lets reveal everyone's hidden agenda items and see if you received bonus coins!"
		}}

		{{> component/speech 
				body="Now that we have a winning proposal, lets reveal everyone's hidden agenda items and see if you received bonus coins!"
		}}

	</div>

	{{!-- AGENDA ITEMS --}}
	<div class="screen">
		{{#each players}}
			{{#each role.agendaItems}}

				{{!-- Agenda item choice --}}
				<div class="modal inner-modal decider" {{#unless @first}}style="display:none"{{/unless}}>
					<div class="inner">

						<div class="role form">
							
							<h1>Does the winning proposal include or address this stakeholder agenda item?</h1>
							<h2>{{this}}</h2>
							
							<button id="btn_yes" class="btn btn-default post-button submit" data-event="game:agenda_yes" data-keep_enabled="true" data-autohide="true" data-package='{{../uid}}'>
				        <h1>Yes</h1>
				      </button>

							<button id="btn_no" class="btn btn-default post-button submit" data-event="game:agenda_no" data-keep_enabled="true" data-autohide="true" data-package='{{../uid}}'>
				        <h1>No</h1>
				      </button>

						</div>

					</div>
				</div>

				{{!-- Decider is choosing --}}
				<div class="modal inner-modal player">
					<div class="inner">
						<h1>The decider is reviewing {{../username}} agenda item:</h1>
						<h2>{{this}}</h2>

						{{#each ../../players}}
					    <div id="player-{{icon}}" class="post-button submit pitch player-logo player-box" style="cursor:default;">
						    <div class="coins"></div>
							  <div class="info">
								  <h1>{{username}}</h1>
							    <h2>{{role.title}}</h2>
						    </div>
						  </div>
						{{/each}}
				  </div>
				</div>

				{{!-- Congrats modal --}}
				<div class="modal inner-modal winner agenda_item yes" data-duration="{{../../config.decideDuration}}" data-next="{{nextAgendaEvent ../../playerCount @../index @last}}">
					<div class="inner">
						<h1>Congratulations, <strong>{{../username}}</strong>!</h1>
						<h2>Your agenda item <span class="item">{{this}}</span> is included in the winning proposal. You win {{agendaReward ../../config.rewardAmounts @index}} coins</h2>

					    <div id="reward-icon" class="pitch player-box">
						    <div class="coins">{{agendaReward ../../config.rewardAmounts @index}}</div>
							  <div class="info">
								  <h1>{{../username}}</h1>
							    <h2>{{../role.title}}</h2>
						    </div>
						  </div>
				  </div>
				</div>

				{{!-- "Sorry" modal --}}
				<div class="modal inner-modal winner agenda_item no" data-duration="{{../../config.decideDuration}}" data-next="{{nextAgendaEvent ../../playerCount @../index @last}}">
					<div class="inner">
						<h1>Sorry, <strong>{{../username}}..</strong>.</h1>
						<h2>Your agenda item <span class="item">{{this}}</span> was not included in the winning proposal</h2>

					    <div id="player-{{../icon}}" class="pitch player-logo player-box">
						    <div class="coins">{{../coins}}</div>
							  <div class="info">
								  <h1>{{../username}}</h1>
							    <h2>{{../role.title}}</h2>
						    </div>
						  </div>
				  </div>
				</div>

			{{/each}}
		{{/each}}

		<span id="modifier" class="hidden-el" data-inner_modal="true"></span>

	</div>

	{{!-- PHASE ENDS --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Press next for Score phase"
				body="Let players know the Decide phase is over by reading the text below.  When ready press next to continue."
		}}

		{{> component/instructions 
				heading="Get ready for the Score phase"
		}}

		{{> component/speech 
				decider=true
				advance=true
				body="Congratulations everyone! Now we will see everyone's new score and find out who is in the lead. The player who's proposal was chosen is the next round's decider!"
		}}

		{{> component/speech 
				body="Congratulations everyone! Now we will see everyone's new score and find out who is in the lead. The player who's proposal was chosen is the next round's decider!"
		}}

	</div>

</div>