{{!-- MEET PHASE UI --}}
<div id="meet">

	{{!-- RULES - First Round Only and if Tutorial enabled
	{{#if tutorial}}
		{{> shared/rules }}
	{{/if}} --}}

	{{!-- ROLE CARDS --}}
	<div class="screen {{#unless tutorial}}{{#ifeq round 1}}initial{{/ifeq}}{{/unless}}">

		{{!-- {{#ifnoteq round 1}}
			<div id="new-decider" class="inner-modal" data-duration="6">
				<div class="inner decide-winner">
					<h1 id="round">Round {{round}}</h1>
					<h2><span>{{decider}}</span> is the new Decider this round, and everyone else has been assigned new roles. Let's get started!</h2>

					{{#each players}}
				    <div id="player-{{icon}}" class="player-box player-logo" style="cursor:default;">
					    <div class="coins">{{coins}}</div>
						  <div class="info">
							  <h1>{{username}}</h1>
						    <h2>{{title}}</h2>
					    </div>
					  </div>
					{{/each}}
			  </div>
			</div>

		  <span id="modifier" class="hidden-el" data-inner_modal="true"></span>
		{{/ifnoteq}} --}}

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Then press next to continue."
		}}

		{{> component/instructions 
				heading="Press the Role Card button"
				body="Once everyone has reviewed their hidden agenda items, press next to continue."
		}}

		{{> component/speech 
				decider=true
				body="Lets start! Everyone open your role card using the button at the bottom of your screen."
		}}

		{{> component/speech 
				body="Everyone open your role card."
		}}

	</div>

	{{!-- ROLE CARDS / AGENDA ITEMS --}}
	<div class="screen">

		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you have finished speaking, press next to continue"
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body=""
		}}

		{{> component/speech 
				decider=true
				body="On your turn, you will introduce yourself by reading your stakeholder role and short bio, and needs to the group."
		}}

		{{> component/speech 
				body="On your turn, you will introduce yourself by reading your stakeholder role, short bio, and needs to the group."
		}}

	</div>

	{{!-- READ ROLES (each player) --}}
	{{!-- {{#each players}}
		{{#ifnoteq decider true}}
			<div class="screen">
				
				{{> component/instructions 
						decider=true
						heading="Read the text in the blue box aloud"
						body=""
				}}

				{{> component/instructions 
						heading="Listen to the Decider"
						body="On your turn, open your rolecard and read your title and bio."
				}}

				{{> component/speech 
						decider=true
						body=(combine username ', please open your role card and introduce yourself by reading your stakeholder title and bio to the group.')
				}}

				{{> component/speech 
						body=(combine username ', please open your role card and introduce yourself by reading your stakeholder title and bio to the group.')
				}}

				{{> component/timer 
						decider=false
						preview=true
						time=5
						stage='meet'
						body=(combine username ', press start and introduce yourself.')
						user=username
						role=role.title
				}}

			</div>
		{{/ifnoteq}}
	{{/each}} --}}

	{{!-- COUNTDOWN START --}}
	{{!-- this is where phase re-starts for subsequent players --}}
	<div class="screen restart">

		{{> component/instructions
				decider=true 
				heading="Announce whose turn it is"
				body=""
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Get ready to introduce yourself"
				body=""
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading=""
				body="On your turn, open your rolecard."
		}}

		{{!-- Timer in button mode  --}}
		{{> component/timer 
				decider=true				
				preview=true
				time=5
				stage='meet'
				body=(combine activePlayer.username ', introduce yourself. are you ready?')
				user=activePlayer.username
				role=activePlayer.role.title
		}}

		{{> component/timer 
				preview=true
				time=5
				stage='meet'
				body=(combine activePlayer.username ', you are up! Get ready to intro!')
				user=activePlayer.username
				role=activePlayer.role.title
		}}

	</div>
	{{!-- COUNTDOWN --}}
	<div class="screen">

		{{> component/instructions
				decider=true 
				heading="Wait for the timer to reach zero"
				body=""
		}}

		{{!-- active player --}}
		{{> component/instructions 
				active_player=player.isActive
				heading="Intro!"
				body="Stop when time runs out."
		}}

		{{!-- inactive player --}}
		{{> component/instructions 
				inactive_player=player.isInactive
				heading="Listen"
				body=""
		}}

		{{!-- timers, one for decider and one for non-deciders --}}
		{{> component/timer 
				time=5
				decider=true
				next_player=repeatScreen
				stage='meet'
				body=""
				user=activePlayer.username
				role=activePlayer.role.title
		}}

		{{> component/timer 
				time=5
				decider=false
				next_player=repeatScreen
				stage='meet'
				body=""
				user=activePlayer.username
				role=activePlayer.role.title
		}}
	</div>

	{{!-- DONE --}}
	<div class="screen">
		
		{{> component/instructions 
				decider=true
				heading="Read the text in the blue box aloud"
				body="Once you have finished speaking the instructions, press next to continue."
		}}

		{{> component/instructions 
				heading="Listen to the Decider"
				body="Remember, you can open and close your role card at anytime during the game! "
		}}

		{{> component/speech 
				decider=true
				advance=true
				body="Now that everyone has introduced themselves, we will move into the think phase. Remember, you can open and close your role card at any time during the game. "
		}}

		{{> component/speech 
				body="Now that everyone has introduced themselves, we will move into the think phase. Remember, you can open and close your role card at any time during the game. "
		}}

	</div>

</div>