<section class="col-lg-6 col-sm-6">
  <div id="game_code" class="row room-container">
		
		<div class="row">
		  As the Decider, {{decider}} begins with {{config.deciderStartCoinCount}} coins.
	  </div>
		
		<div class="row">
		  Everyone else begins with {{config.deciderStartCoinCount}} coins.
	  </div>

		<div class="row">
		  At the end of the round, {{decider}} will choose a winner and they will get the coins in the pot.
	  </div>
		
		<div class="row">
		  {{config.potCoinCount}} coins are up for grabs!
	  </div>

		<div class="row">
		  The pot could grow if you play boldly...
	  </div>
  
	</div>
</section>