<section class="col-lg-6 col-sm-12 col-centered">
  <div class="row room-container">

  {{{jsonPrint this}}}
		
		<div class="row">
		  As the Decider, {{decider}} begins with {{config.deciderStartCoinCount}} coins.
	  </div>
		
		<div class="row">
		  Everyone else begins with {{config.deciderStartCoinCount}} coins.
	  </div>

		<div class="row">
		  At the end of the round, {{decider}} will choose a winner and they will get the coins in the pot.
	  </div>
		
		<div class="row">
		  {{config.potCoinCount}} coins are up for grabs!
	  </div>

		<div class="row">
		  The pot could grow if you play boldly...
	  </div>
  
	</div>

	<div class="form row" id="decider">
    <input id="btn-start-game" data-event="game:next" class="post-button submit" type="submit" name="submit" value="next">
	</div>
</section>