{{!-- RANKING UI --}}
<div id="ranking">

	{{!-- WAIT FOR RANK --}}
	<div class="screen player">

		{{> component/instructions 
				heading="Call To Vote"
		}}

		<div id="content" class="content">

            <h1>Everyone agreed with the proposal!</h1>
            Wait as the facilitator reviews.

        </div>
    
	</div>

	{{!-- RANKING --}}
	<div class="screen decider">

		{{> component/instructions 
				decider=true
				heading="Vote Ranking"
				body="Rate how well the team's proposal meets the criteria below."
		}}

        <div id="pt1">
            <h2>Did the team meet their needs?</h2>

            {{#each players}}
                
                <div class="user toggle">
                    {{username}}<br />

                    <div class="need">    
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        {{#if needs}}
                            <span>{{needs.[0]}}</span>
                        {{else}}
                            <span>Example need 1</span>
                        {{/if}}
                    </div>
                    <div class="need">    
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        {{#if needs}}
                            <span>{{needs.[1]}}</span>
                        {{else}}
                            <span>Example need 2</span>
                        {{/if}}
                    </div>
                </div>

            {{/each}}
        </div>

        <div id="pt2" style="display:none">

            <h2>Equity</h2>
            <input type="range" id="equity" min="1" value="1" max="10" step="1">
            <div class="labels">
                <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span>
            </div>

            <h2>Fidelity</h2>
            <input type="range" id="fidelity" min="1" value="1" max="10" step="1">
            <div class="labels">
                <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span>
            </div>

            <h2>Cost Effectiveness</h2>
            <input type="range" id="cost-effectiveness" min="1" value="1" max="10" step="1">
            <div class="labels">
                <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span>
            </div>
        </div>
		
		<button id="btn-ready" class="btn" type="submit" name="submit">
			Continue
		</button>

	</div>

</div>