<div class="rolecard-inner inner">
   
 	<div>       
	  
	  <button id="btn-close-role-card" class="btn" type="submit" name="submit" data-keep_enabled="true">
	     {{{cloudinaryUrl '/v1494604113/at-stake/layout/shape.svg' height=100}}}
	  </button>

	</div>
	
	<div class="role-info">
		<div class="icon"></div>
		<h2 class="title">{{title}}</h2>
		<div class="description">{{{bio.html}}}</div>

	</div>
		<div class="line"></div>
	<div class="agenda-wrap">
		<h1 class="header">Hidden Agenda Items</h1>
		<span class="instruction">At the end of the round, you win bonus coins if the decider thinks your agenda item is included in the winning proposal.</span>

		<div class="agenda-item"><span class="value">100</span><div class="agenda">{{agendaItems.[0]}}</div></div>
		<div class="agenda-item"><span class="value">200</span><div class="agenda">{{agendaItems.[1]}}</div></div>
	</div>

</div>