<div class="rolecard-inner inner">
   
 	<div>       
	  
		{{#unless intro}}
			<button id="btn-close-role-card" class="btn" type="submit" name="submit" data-keep_enabled="true">
				{{{cloudinaryUrl '/v1540845195/at-stake/icons/close.svg' height=25}}}
			</button>
		{{/unless}}

	</div>
	
	<div class="role-info">
		{{#ifeq intro true}}
			<h2 class="title">Your role: {{title}}</h2>
		{{else}}
			<div class="title">{{title}}</div>
		{{/ifeq}}
		<div class="description">{{{bio.html}}}</div>

	</div>
	
	<div class="line"></div>

	<div class="agenda-wrap form">
		{{#if needs}}
			<h1 class="header">Needs</h1> 

			<div class="agenda-item"><div class="agenda">{{needs.[0]}}</div></div>
			<div class="agenda-item"><div class="agenda">{{needs.[1]}}</div></div>
		{{/if}}

		{{#if secretGoal}}
			<h1 class="header"><span>&#9733;</span>Secret Goal<span>&#9733;</span></h1> 
			<div>{{secretGoal}}</div>
		{{/if}}
		
		{{#ifeq intro true}}
			<button class="btn submit player" type="submit" name="submit" data-event="game:ready" data-package="role">
				Continue
			</button>
			<button id="btn-role-next" class="btn decider next-step" type="submit" name="submit">
				Continue
			</button>
		{{/ifeq}}
	</div>

</div>