<div class="rolecard-inner inner">
	
	<div class="role-info{{#unless intro}} card{{/unless}}">
		
			{{#unless intro}}
				<button id="btn-close-role-card" class="btn" type="submit" name="submit" data-keep_enabled="true">
					{{{cloudinaryUrl '/v1540845195/at-stake/icons/close.svg' height=25}}}
				</button>
			{{/unless}}
		
		<h2 class="title">{{#ifeq intro true}}Your role: {{/ifeq}}<b>{{title}}</b></h2>
	
	</div>
	
	<div class="description">{{{bio.html}}}</div>

	<div class="agenda-wrap form">

		<div id="needs">
			{{#if needs}}
				<h1 class="header">Needs</h1> 

				<div class="agenda-item"><div class="agenda">{{needs.[0]}}</div></div>
				<span id="div"></span>
				<div class="agenda-item"><div class="agenda">{{needs.[1]}}</div></div>
			{{/if}}
		</div>

		{{#if secretGoal}}
			
			<h1 class="header"><span>&#9733;</span>Secret Goal<span>&#9733;</span></h1> 
			<div>{{secretGoal}}</div>

		{{/if}}
		
		{{#ifeq intro true}}
			
			<button class="btn submit player" type="submit" name="submit" data-event="game:ready" data-package="role">
				Continue
			</button>
			<button id="btn-role-next" class="btn decider next-step" type="submit" name="submit">
				Continue
			</button>

		{{/ifeq}}
	</div>

</div>