<div class="row room-container" id="rules">
	
	<div class="row screen col-lg-6 col-sm-12">
	  As the Decider, {{decider}} begins with {{config.deciderStartCoinCount}} coins.
	  <div class="rules-image"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743650/at-stake/coin_stroke.png"></div>
  </div>
	
	<div class="row screen col-lg-6 col-sm-12">
	  Everyone else begins with {{config.deciderStartCoinCount}} coins.
	  <div class="rules-image"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743650/at-stake/coin_stroke.png"></div>
  </div>

	<div class="row screen col-lg-6 col-sm-12">
	  At the end of the round, {{decider}} will choose a winner and they will get the coins in the pot.
	  <div class="rules-image"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743648/at-stake/trophy256.png"></div>
  </div>
	
	<div class="row screen col-lg-6 col-sm-12">
	  {{config.potCoinCount}} coins are up for grabs!
	  <div class="rules-image"><img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1486743648/at-stake/trophy256.png"></div>
  </div>

	<div class="row screen col-lg-6 col-sm-12">
	  The pot could grow if you play boldly...
  </div>

</div>

{{!-- Div's data tag modifies script behavior --}}
<span id="modifier" class="hidden-el" data-hide_next="true"></span>