<div class="row room-container" id="rules">
	
	<div class="row screen col-lg-12 col-sm-12">
	  As the Decider, {{decider}} begins with {{config.deciderStartCoinCount}} coins.
  </div>
	
	<div class="row screen col-lg-12 col-sm-12">
	  Everyone else begins with {{config.deciderStartCoinCount}} coins.
  </div>

	<div class="row screen col-lg-12 col-sm-12">
	  At the end of the round, {{decider}} will choose a winner and they will get the coins in the pot.
  </div>
	
	<div class="row screen col-lg-12 col-sm-12">
	  {{config.potCoinCount}} coins are up for grabs!
  </div>

	<div class="row screen col-lg-12 col-sm-12">
	  The pot could grow if you play boldly...
  </div>

</div>

{{!-- Div's data tag modifies script behavior --}}
<span id="modifier" class="hidden-el" data-hide_next="true"></span>