<div class="row room-container" id="rules">
	
	<div class="row screen col-lg-6 col-sm-12">
	  As the Decider, {{decider}} begins with {{config.deciderStartCoinCount}} coins.
  </div>
	
	<div class="row screen col-lg-6 col-sm-12">
	  Everyone else begins with {{config.deciderStartCoinCount}} coins.
  </div>

	<div class="row screen col-lg-6 col-sm-12">
	  At the end of the round, {{decider}} will choose a winner and they will get the coins in the pot.
  </div>
	
	<div class="row screen col-lg-6 col-sm-12">
	  {{config.potCoinCount}} coins are up for grabs!
  </div>

	<div class="row screen col-lg-6 col-sm-12">
	  The pot could grow if you play boldly...
  </div>

</div>
{{!-- 
<div class="form row" id="decider">
  <input id="btn-next" data-event="game:next" class="post-button submit hidden-el" type="submit" name="submit" value="next">
</div> --}}
