<div id="scoreboard">

	{{!-- INITIAL --}}
	<div class="screen initial" data-animation="scoreboard">

		<h3>At the end of round {{round}} the scores are:</h3>

		<section id="ranking">

	  	{{!-- END OF GAME --}}
	  	{{#ifeq round 3}}
			{{!-- END OF ROUND --}}
	  	{{else}}
					
				{{#each players}}

					<div id="player-{{icon}}" class="player-logo" data-rank="{{rank}}">
						<div class="rank starting">{{ordinalPosition @index}}</div>
						<div class="rank current">{{ordinalPosition rank}}</div>
				    <div class="coins starting">{{coins.starting}}</div>
				    <div class="coins delta {{numSignString coins.delta}}" style="background-image:url('https://res.cloudinary.com/engagement-lab-home/image/upload/v1490979430/at-stake/layout/icon-yourcoins.svg')">{{numSign coins.delta}}</div>
				    <div class="coins current">{{coins.current}}</div>
					  <div class="info">
						  <h1>{{lowerCase username}}</h1>
					    <h2>{{lowerCase role.title}}</h2>
				    </div>
				  </div>

				{{/each}}

			{{/ifeq}}

		</section>

		<div class="form decider speech">
	    <button class="next-step submit hidden-el" data-event="game:next_round">next round</button>
		</div>

	</div>

</div>
