{{!-- 

* COMPONENT: Choice Box 
* @param {Bool} active_player - Show this choice dialog only for active player?

--}}

{{#ifeq pitches true}}

	{{#ifeq decider true}}

		<div class="modal inner-modal {{showHide this}}">
			<div class="form decider inner">
				<h1>Choose the player who had the <strong>best</strong> proposal</h1>

				{{#each players}}
			    <button id="player-{{icon}}" class="post-button submit player-box player-logo btn" data-event="game:proposal_selected" data-package='{{uid}}' data-keep_enabled="true" data-autohide="true" type="submit" name="submit">
				    <div class="coins">{{coins}}</div>
					  <div class="info">
						  <h1>{{username}}</h1>
					    <h2>{{role.title}}</h2>
				    </div>
				  </button>
				{{/each}}
			</div>
		</div>

	{{else}}

		<div class="modal inner-modal {{showHide this}}">
			<div class="inner">
				<h1>The decider is about to choose a winning proposal</h1>
				<h2>Whoever wins receive all the coins in the coin pot!</h2>

				{{#each players}}
			    <div id="player-{{icon}}" class="post-button submit player-box player-logo btn">
				    <div class="coins">{{coins}}</div>
					  <div class="info">
						  <h1>{{username}}</h1>
					    <h2>{{role.title}}</h2>
				    </div>
				  </div>
				{{/each}}
		  </div>
		</div>

	{{/ifeq}}

  <span id="modifier" class="hidden-el" data-inner_modal="true"></span>

{{else}}

	<div id="more-time-wrapper" class="{{showHide this}} inner-modal modal" style="display:none">
		<div class="form choice" id="more-time">
		  <h3>Pay {{config.extraTimeCost}} to continue pitching?</h3>
		  <h4>Recieve an additional {{config.extraSeconds}} seconds of uninterrupted talking time.</h4>
		  <button id="btn-more-time" data-event="game:more_time" data-keep_enabled="true" data-package="{{player.playerUid}}" class="post-button submit" type="submit" name="submit">get more time</button>
		  <button id="btn-cancel" data-event="game:turn_done" class="post-button submit" type="submit" name="submit">no thanks</button>
		</div>
	</div>

{{/ifeq}}