{{!-- 

* COMPONENT: Speech Bubble 
* @param {Bool} decider - Is decider speech?
* @param {Bool} advance - Is last bubble of phase?
* @param {Bool} timer - 'Next' button kicks off a timer?
* @param {Bool} active_player - Show this speech only for active player?
* @param {Bool} inactive_player - Show this speech only for inactive player?
* @param {String} body - Speech bubble body text
* @param {String} secondary - Speech bubble secondary text, showing under body

--}}
<blockquote class="speech {{showHide this}} {{#ifeq decider true}}form{{/ifeq}}"{{#if player}} data-player="{{player}}"{{/if}}>

  <p>{{body}}</p>

  {{#if secondary}}
	  <div>{{secondary}}</div>
  {{/if}}
  
  {{#ifeq decider true}}
	  {{#ifeq decider_next_disabled undefined}}
		  
		  {{#ifeq timer true}}
		    <button class="next-step timer submit" data-event="{{nextEvent this}}">Start Timer</button>
		  {{else}}
			  {{#ifeq exit true}}
			    <button class="next-step submit" data-event="game:exit">exit game</button>
		    {{else}}
			    <button class="next-step submit" data-event="{{nextEvent this}}"{{!--{{#if player_local}} data-check-player="true"{{/if}}--}}>next</button>
			  {{/ifeq}}
		  {{/ifeq}}

	  {{/ifeq}}
  {{/ifeq}}
</blockquote>