{{!-- 

* COMPONENT: Speech Bubble 
* @param {Bool} decider - Is decider speech?
* @param {Bool} advance - Is last bubble of phase?
* @param {Bool} timer - 'Next' button kicks off a timer?
* @param {Bool} active_player - Show this speech only for active player?
* @param {Bool} inactive_player - Show this speech only for inactive player?
* @param {String} body - Speech bubble body text
* @param {String} secondary - Speech bubble secondary text, showing under body

--}}
	<blockquote class="speech {{showHide this}} {{#ifeq decider true}}form{{/ifeq}}">

	  <p>"{{body}}"</p>

	  {{#if secondary}}
		  <div>{{secondary}}</div>
	  {{/if}}
	  
	  {{#ifeq decider true}}
		  {{#ifeq decider_next_disabled undefined}}
	    <button class="next-step submit" data-event="{{nextEvent this}}">{{#ifeq timer true}}Start Timer{{else}}next{{/ifeq}}</button>
		  {{/ifeq}}
	  {{/ifeq}}
	</blockquote>