{{!-- 

* COMPONENT: Timer 
* @param {Bool} preview - Just show timer 'start' button?
* @param {Bool} button - Timer is start button for decider?
* @param {String} body - Speech bubble body text for when 'preview' is true

--}}
    
{{!-- SPEECH W/ BUTTON TO START --}}
{{#ifeq preview true}} 
    
  {{!-- CIRCULAR TIMER --}}
  <div class="timer_wrap {{#ifeq decider true}}decider form{{else}}player{{/ifeq}}">
      
        <button 
        {{#ifeq decider true}}
          id="btn-next" class="submit" data-event="game:start_timer"
        {{/ifeq}}>

          <svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-46 a 46,46 0 1 1 0,92 a 46,46 0 1 1 0,-92" stroke="#fff" stroke-width="8" fill-opacity="0"></path><path d="M 50,50 m 0,-46 a 46,46 0 1 1 0,92 a 46,46 0 1 1 0,-92" stroke="#56d5ff" stroke-width="8" fill="#ff3d6b" style="stroke-dasharray: 289.067, 289.067; stroke-dashoffset: -289.00;"></path></svg>

          <div class="progressbar-text preview">{{time}}</div>

          <div class="speech">
          
            <h1>
              {{#ifeq decider true}}
                Start Timer
              {{else}}
                Get Ready!
              {{/ifeq}}
            </h1>

            <span id="modifier" class="hidden-el" data-hide_next="false"></span>
          </div>

        </button>

        {{#if body}}<p>{{body}}</p>{{/if}}

    </div>

{{else}}
  
  {{!-- CIRCULAR TIMER --}}
  <div class="timer_wrap running {{#ifeq decider true}}decider{{else}}player{{/ifeq}}">

        <div class="timer"></div>

        <div class="speech">
            <h1>Seconds left</h1>
        </div>

        {{#ifeq active_player true}}
          {{#ifeq stage 'doubledown'}}
            {{#if body_active}}<p>{{body_active}}<br><span>{{role}}</span></p>{{/if}}
          {{else}}
            {{#if body}}<p class="{{stage}}">{{body}}<br><span>{{role}}</span></p>{{/if}}
          {{/ifeq}}
        {{else}}
            {{#if body}}<p class="{{stage}}">{{body}}<br><span>{{role}}</span></p>{{/if}}
        {{/ifeq}}

  </div>

{{/ifeq}}