{{!-- 

* COMPONENT: Timer 
* @param {Bool} button - Just show timer 'start' button?
* @param {Bool} next_player - Button shown when timer done advances to next player's turn?
* @param {Bool} advance - Button shown when timer done advances to next phase? (ignored if 'next_player' is true)
* @param {Bool} active_player - Show this speech only for active player?
* @param {Bool} inactive_player - Show this speech only for inactive player?
* @param {String} body - Speech bubble body text for when 'button' is true

--}}

{{#ifeq button true}}

  {{!-- SPEECH W/ BUTTON TO START --}}
  {{> component/speech
      body=body
      decider=true
      timer=true
  }}

{{else}}

  {{!-- CIRCULAR TIMER --}}
  <div class="timer_wrap {{#ifeq decider true}}decider{{else}}player{{/ifeq}}">
    {{#ifeq preview true}} 
      {{!-- {{#ifeq active_player true}} --}}
        <div class="timer preview" data-duration="{{time}}"></div>

        <div class="form decider speech">
        
          {{#ifeq next_player true}}
            <button id="btn-next-player" data-event="game:next_player" class="timer-button submit" style="display:none">next player</button>
          {{else}}
            <button id="btn-next" data-event="{{#if advance}}game:start_timer{{else}}game:start_timer{{/if}}" class="timer-button next-step submit">start</button>
          {{/ifeq}}

          <span id="modifier" class="hidden-el" data-hide_next="false"></span>
        </div>
      {{!-- {{/ifeq}} --}}
    {{else}}
        <div class="timer"></div>
    {{/ifeq}}
  </div>

{{/ifeq}}